Django==4.2.24
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==2.3.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
django-ckeditor==6.7.1
Pillow==10.4.0
stripe==12.5.1
boto3
django-storages
djangorestframework
